@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
:root {
    --cream: #F8F0DF;
    --lightblue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

/* .about-overall-container {
    height: 100vh;
    width:100%;
} */

.profile-skill-container {
    display: block;

}

.about-container {
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
    background-position: cover;
    margin: 1em;
}

.about-title-container {
    display: flex;
    flex-direction: column;
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    border-bottom: 6px  solid var(--black);
    margin-bottom: 2em;
}

.about-title {
    text-align: center;
    font-size: 10vw;
    font-family: 'Acme';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;
    animation: lightSpeedInLeft; 
    animation-duration: 2s;
}


.profile-image-container {
    display: flex;
    float: right;
    max-height: 600px;
    max-width: 600px;
    min-height: 300px;
    min-width: 300px;
    height: 40%;
    width: 40%;
}

.profile-image {
    height: 50%;
    max-width: 100%;
    padding: 2em;
    background-color: white;
    margin-right: 6em;
    margin-top: 80px;
    overflow: hidden;
    border:  solid var(--black);
    border-width: 6px;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .profile-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile-image {
        align-self: center;
        height: 60%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: 70px;
    }
    .skill-list-item {
        font-size: 10px;
    }
}

.profile-image:hover {
    transform: scale(1.3);
    transition: all 0.4s;
}

.queso-image-container {
    display: flex;
    /* max-height: 600px;
    max-width: 600px;
    min-height: 300px;
    min-width: 300px;
    height: 40%;
    width: 40%; */
    float: right;
}


.queso-image {
    max-height: 600px;
    max-width: 600px;
    height: 80%;
    width: 80%;
    position: relative;
    margin-right: 1vw;
    margin-left: 2vw;
    border:  solid var(--black);
    border-width: 6px;
    border-radius: 10px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    float: left;
    max-height: 600px;
    max-width: 300px;
    min-height: 300px;
    min-width: 250px;
    height: 40%;
    width: 40%;
    position: relative;
    bottom: 10px;
    padding-top: 2em;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    border-radius: 10px;
    border: solid var(--black);
    border-width: 6px;
    
}

.skill-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skill-title {
    display: block;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.skill-list-item {
font-family: "KoHo";
font-size: 1.5em;
font-weight: 600;
color:white;
text-shadow:  2px  2px var(--red);
}

.body-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

.about-body {
    font-family: "Blinker";
    font-size: 3vw;
    padding: 1em;
    line-height: 1.5;
}


.professional-title {
    float: right;
    padding: 2em;
    margin: 1em;
    padding-left: 2em;
    width: 50%;
}

.personal-title {
    position: relative;
    left: 50px;
    top: 50px;
    margin-bottom: 2em;
    width: 50%;
}