:root {
    --cream: #F8F0DF;
    --lightblue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

.about-container {
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
    background-position: cover;
}

.about-title {
    text-align: center;
    font-size: 6rem;
    font-family: 'KoHo';
    text-shadow:   2px -3px 2px var(--lightblue);
}


.about-title-container {
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    border-bottom: 6px  solid var(--black);
    
}

img {
    max-height: 400px;
    max-width: 400px;
}