@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
:root {
    --cream: #F8F0DF;
    --lightblue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

.profile-skill-container {
    display: block;
}

.about-container {
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
    background-position: cover;
}

.about-title-container {
    display: flex;
    flex-direction: column;
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    border-bottom: 6px  solid var(--black);
    
}

.about-title {
    text-align: center;
    font-size: 8vw;
    margin: .4em;
    font-family: 'Acme';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;
    animation: lightSpeedInLeft; 
    animation-duration: 2s;
}


.profile-image-container {
    display: flex;
    float: right;
    max-height: 600px;
    max-width: 600px;
    min-height: 300px;
    min-width: 300px;
    height: 40%;
    width: 40%;
}

/* .profile-image {
    height: 50%;
    max-width: 100%;
    padding: 2em;
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    margin-right: 6em;
    margin-top: 80px;
    overflow: hidden;
    border:  solid var(--black);
    border-width: 6px;
    border-radius: 10px;
    cursor: pointer;
} */

/* .profile-image:hover {
    transform: scale(1.3);
    transition: all 0.3s;
} */

.queso-image-container {
    display: flex;
    float: right;
    margin-bottom: 2em;
    
}

.queso-image {
    max-height: 50vw;
    max-width: 50vw;
    height: 80%;
    width: 80%;
    left: 40px;
    position: relative;
    margin-right: .5vw;
    margin-left: 1vw;
    border:  solid var(--black);
    border-width: 6px;
    border-radius: 10px;
}

/* .skill-container {
    display: flex;
    flex-direction: row;
    float: left;
    max-height: 600px;
    max-width: 300px;
    min-height: 300px;
    min-width: 250px;
    height: 40%;
    width: 40%;
    position: relative;
    bottom: 10px;
    padding-top: 2em;
    margin-top: 50px;
    margin-left: 5.0em;
    margin-bottom: 50px;
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    border-radius: 10px;
    border: solid var(--black);
    border-width: 6px;
} */



.skill-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skill-list {
    margin: 1em;
    margin-left: 2.5em;
    list-style: none;
}

.skill-title {
    display: block;
    align-items: flex-start;
    justify-content: center;
    width: 35%;
    margin-left: 1.2em;
    font-size: 8vw;
    margin: .4em;
    font-family: 'Acme';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;

}

.skill-list-item {
font-family: "KoHo";
font-size: 3vw;
font-weight: 600;
color:white;
text-shadow:  2px  2px var(--red);
}

.body-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

.about-body {
    font-family: "Blinker";
    font-size: 2.7vw;
    padding: 1em;
    line-height: 2;
}


.professional-title {
    float: right;
    padding: 1em;
    margin: 1em;
    padding-left: 2em;
    width: 60%;
}

.personal-title {
    float: left;
    margin-right: 1em;
    width: 40%;
}

@media screen and (max-width: 500px) {
    .profile-image-container {
        position: absolute;
        visibility: hidden;
    }
    .professional-title {
        padding: 0;
        margin: 0em;
        width: 50%;
    }
    .queso-image-container {
        margin-left: .4em;
        margin-right: 0;
        margin-bottom: 1em;
    }
    .personal-title {
        width: 40%;
    }
    /* .skill-container {
        height: 350px;
        width: 75px;
        
    }
    .skill-list {
        font-size: 12px;
        padding-bottom: 1em;
    }
    .skill-title {
        width: 55%;
        
    } */
}