:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}


.resume-title {
    text-align: center;
    font-size: 6rem;
    font-family: 'KoHo';
    text-shadow:   2px -3px 2px var(--lightblue);
}

.resume-title-container {
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    
}

.resume-container {
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
    background-position: cover;
    height: 100%;
}


.pdf-container {
    height: 30em;
    margin: 1.5rem
}

.pdf {
    border: 5px solid var(--dark);
    border-radius: 3px;
    height: 200%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 2em;
}