:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

.resume-overall-container {
    height: 75vh;
}

.resume-title {
    text-align: center;
    font-size: 10vw;
    margin: .4em;
    font-family: 'Acme';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;
    animation: lightSpeedInLeft; 
    animation-duration: 2s;
}

.resume-title-container {
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    border-bottom: 6px  solid var(--black);
    
}

.resume-container {
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
    background-position: cover;
    height: 200%;

}


.pdf-container {
    height: 30em;
    margin: 2rem;
}

.pdf {
    border: 5px solid var(--dark);
    border-radius: 3px;
    height: 200%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

