:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

.contact-title {
    text-align: center;
    font-size: 10vw;
    font-family: 'Acme';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;
    animation: lightSpeedInLeft; 
    animation-duration: 2s;
}


.contact-container {
    background-position: cover;
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
}

.contact-title-container {
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    border-bottom: 6px solid black;
}

.contact-details-container {
    margin: 8em;
    height: 70%;
    max-width: 100%;
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: contain;
    min-width: 400px;
    border-width: 8px solid;
    border-color: var(--black);
    
}


h3 {
    text-align: center;
    font-size: 6vh;
    font-family: 'Acme';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;
    padding-top: .6em;
    margin: 0;
    /* animation: backInUp; 
    animation-duration: 2s; */
}

h4 {
    text-align: center;
    font-size: 6vh;
    font-family: 'KoHo';
    text-shadow:   2px -2px 2px var(--lightblue);
}

.email-value {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.phone-value {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.contact-icons-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.contact-social-icon {
    height: 12vh;
    width: 12vh;
    padding: 2em;
}

