:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

.home-title {
    text-align: center;
    font-size: 6rem;
    font-family: 'KoHo';
    /* text-shadow:   2px -3px 2px var(--lightblue); */
    
}

.home-container {
    display: flex;
    flex-direction: column;
    /* background: url('../../Images/beams.jpg') no-repeat center;
    background-size: 100%; */
}

.home-title-container {
    background: url('../../Images/computer copy.png') no-repeat center;
    background-size: 100%;
    
}

.home-graphic-container {
    display: block;
    margin-top: -6em;
}

.home-graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-bottom: 2em;
    animation: backInUp; 
    animation-duration: 2s;
    
}


.home-profession-container {
    display: block;
    text-align: center;
}

.home-profession {
    font-family: "Blinker";
    font-size: 8vh;
    color: white;
    font-weight: 800;
    text-shadow: 3px 1px 3px var(--black);
    animation: flip; 
    animation-duration: 1s;
    animation-delay: 2s;
    
    
}




