
:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}


.home-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    background: url('../../Images/computer copy.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
}


.home-graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5em; */
}

.home-graphic {
    display: flex;
    align-items: center;
    width: 30%;
    animation: backInUp; 
    animation-duration: 2s;
    padding-top: 2em;
}


.home-profession-container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 22em;
    
}

.home-profession {
    font-family: "Blinker";
    font-size: 8vw;
    color: white;
    font-weight: 800;
    text-shadow: 3px 1px 3px var(--black);
    text-align: center;
    margin-top: 0;
    position: relative;

}