:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}


.home-container {
    background-position: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    background: url('../../Images/computer copy.png') no-repeat center;
    background-size: 100%;
}


.home-graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-graphic {
    display: block;
    align-items: center;
    width: 45%;
    animation: backInUp; 
    animation-duration: 2s;
    
    
}


.home-profession-container {
    display: block;
    text-align: center;
    margin-bottom: 0;
}

.home-profession {
    font-family: "Blinker";
    font-size: 8vh;
    color: white;
    font-weight: 800;
    text-shadow: 3px 1px 3px var(--black);
    /* animation: flip; 
    animation-duration: 1s;
    animation-delay: 2s; */
}




