@font-face {
    font-family: 'Acme';
    src: local('Acme'),
        url('./Acme.ttf') format('ttf'),
};
@font-face {
    font-family: 'KoHo';
    src: local('Koho'),
        url('./Koho.ttf') format('ttf'),
};
@font-face {
    font-family: 'Yellowtail';
    src: local('Yellowtail'),
        url('./Yellowtail.ttf') format('ttf'),
};
@font-face {
    font-family: 'Sprite Graffiti';
    src: local('Sprite Graffiti'),
        url('./Sprite Graffiti.ttf') format('ttf'),
};
@font-face {
    font-family: 'Blinker';
    src: local('Blinker'),
        url('./Blinker.ttf') format('ttf'),
};

