:root {
    --cream: #F8F0DF;
    --lightBlue: #7bc6f5;
    --black: #000000;
    --grey: #9D9D9D;
}

.projects-title {
    text-align: center;
    font-size: 6rem;
    font-family: 'KoHo';
}

.projects-container {
    background-position: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
    background: url('../../Images/beams.jpg') no-repeat center;
    background-position: cover;
    
}

.projects-card-container {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 4em;
    max-width: 100%;
    border-top: 6px solid var(--black);
    
}
.projects-title-container {
    background: url('../../Images/pool copy.jpg') no-repeat center;
    background-size: 100%;
    
}

.projects-card-title {
    font-size: 3.5em;
    color: var(--grey);
    font-family: 'KoHo';
    text-shadow: 2px 2px black;
    padding-bottom: 4.2em;
}

.projects-card-description {
    font-family: 'KoHo';
    font-size: 1.8em;
    padding: 10px
}

.projects-card-button {
    width: 150px;
    height: 50px;
    background-color: var(--cream);
    border-radius: 5px;
    cursor: pointer;
}

.projects-card {
    background: url('../../Images/303quesofinder.png') no-repeat center;
    background-size: 140%;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    color: var(--lightBlue);
    height: 600px;
    left: 0;
    margin: 0 auto;
    max-width: 700px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 100%;
}

.projects-card-two {
    background: url('../../Images/cryptocurrent.png') no-repeat center;
    background-size: 125%;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    color: var(--lightBlue);
    height: 600px;
    left: 0;
    margin: 0 auto;
    max-width: 700px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 100%;
}

.projects-card-three {
    background: url('../../Images/hooks.png') no-repeat center;
    background-size: 160%;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    color: var(--lightBlue);
    height: 600px;
    left: 0;
    margin: 0 auto;
    max-width: 700px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 100%;
}

.projects-card-four {
    background: url('../../Images/justflingit.png') no-repeat center;
    background-size: 125%;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    color: var(--lightBlue);
    height: 600px;
    left: 0;
    margin: 0 auto;
    max-width: 700px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 100%;
}
