:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

.projects-title {
    text-align: center;
    font-size: 6rem;
    font-family: 'Sprite Graffiti';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;
}

.projects-container {
    background-position: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
    background: url('../../Images/beams.jpg') no-repeat center;
}

.projects-title-container {
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    
}

.projects-card-container {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 4em;
    max-width: 100%;
    border-top: 6px solid var(--black);
    
}

.projects-card-title {
    font-size: 6vh;
    font-family: 'KoHo';
    text-shadow:   2px -2px 2px var(--lightblue);
    padding-bottom: 10vh;
}

.projects-card-description {
    font-family: 'KoHo';
    font-size: 4vh;
    padding: .2em;
    text-shadow: 1px 1px white;
}

.projects-card-button {
    width: 150px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    color: var(--black);
    font-size: 1em;
    font-family: 'KoHo';
}

.projects-card {
    background: url('../../Images/303quesofinder.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 8px var(--darkblue);
    height: 500px;
    left: 0;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 90%;
}

.projects-card:hover {
    transform: scale(1.1);
}
.projects-card-two:hover {
    transform: scale(1.1);
}
.projects-card-three:hover {
    transform: scale(1.1);
}
.projects-card-four:hover {
    transform: scale(1.1);
}

.projects-card-two {
    background: url('../../Images/cryptocurrent.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 8px var(--darkblue);
    height: 500px;
    left: 0;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 90%;
}

.projects-card-three {
    background: url('../../Images/hooks.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 8px var(--darkblue);
    height: 500px;
    left: 0;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 90%;
}

.projects-card-four {
    background: url('../../Images/justflingit.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 10px 8px var(--darkblue);
    height: 500px;
    left: 0;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 90%;
}
