:root {
    --cream: #F8F0DF;
    --lightBlue: #7bc6f5;
    --black: #000000;
    --grey: #9D9D9D;
}
.blogs-title-container {
    background: url('../../Images/pool copy.jpg') no-repeat center;
    background-size: 100%;
    
}

.blogs-title {
    text-align: center;
    font-size: 6rem;
    font-family: 'KoHo';
}

.blogs-container {
    background-position: cover;
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
}

.card-container {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 4em;
    max-width: 100%;
    border-top: 6px solid var(--black);
}

.card {
    background: url('../../Images/cssexy.png') no-repeat center;
    background-size: 200%;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    color: var(--lightBlue);
    height: 500px;
    left: 0;
    margin: 0 auto;
    max-width: 425px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 100%;
}

.two {
    background: url('../../Images/odetojsx.png') no-repeat center;
    background-size: 140%;
    
}

.three {
background: url('../../Images/hooks.png') no-repeat center;
background-size: 220%;
}

.four {
background: url('../../Images/sdlc.jpeg') no-repeat center;
background-size: 165%;
}

.five {
background: url('../../Images/hooks.png') no-repeat center;
background-size: 220%;
}

.six {
background: url('../../Images/node2.jpeg') no-repeat center;
background-size: 180%;
}

.seven {
background: url('../../Images/semantic.jpeg') no-repeat center;
background-size: 100%;
}

.eight {
background: url('../../Images/deployment.png') no-repeat center;
background-size: 120%;
}

.nine {
background: url('../../Images/deployment2.jpeg') no-repeat center;
background-size: 220%;
}