:root {
    --cream: #F8F0DF;
    --lightBlue: #55ffff;
    --black: #000000;
    --grey: #9D9D9D;
    --darkblue: #3d7791;
    --gold: #decd82;
    --red: #f40305;
}

.blogs-title-container {
    background: url('../../Images/bluebrick.jpg') no-repeat center;
    background-size: 100%;
    
}

.blogs-title {
    text-align: center;
    font-size: 7rem;
    font-family: 'Sprite Graffiti';
    color: var(--lightblue);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #f40305,
    0 0 42px #f40305,
    0 0 82px #f40305,
    0 0 92px #f40305,
    0 0 102px #f40305,
    0 0 151px #f40305;
}

.blogs-container {
    background-position: cover;
    display: flex;
    flex-direction: column;
    background: url('../../Images/beams.jpg') no-repeat center;
}

.card-container {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 4em;
    max-width: 100%;
    border-top: 6px solid var(--black);
}

.card-title {
    font-size: 5vh;
    padding-bottom: 4vh;
    font-family: 'KoHo';
    text-shadow:   2px -2px 2px var(--lightblue);
    
}

.card-date {
    font-size: 1.8em;
    font-family: 'Acme';
    text-shadow: -2px 2px 1px  var(--red);
    color: white;
    padding-top: 2.0em;
    font-weight: 700;
}

.card-button {
    width: 120px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    color: var(--black);
    font-size: 1em;
    font-family: 'KoHo';
}

.card {
    background: url('../../Images/cssexy.png')  no-repeat center;
    background-size: cover;
    background-position: fixed;
    border: 6px solid var(--black);
    border-radius: 10px;
    box-shadow: 0px 20px 20px 0px var(--darkblue);
    height: 400px;
    left: 0;
    margin: 0 auto;
    max-width: 425px;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 10%;
    transition: all 0.4s;
    width: 80%;
    opacity: .9;
}

.card:hover {
    transform: scale(1.2);
    opacity: 1;
}

.two {
    background: url('../../Images/odetojsx.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.three {
    background: url('../../Images/hooks.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.four {
    background: url('../../Images/sdlc.jpeg') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.five {
    background: url('../../Images/hooks.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.six {
    background: url('../../Images/node2.jpeg') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.seven {
    background: url('../../Images/semantic.jpeg') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.eight {
    background: url('../../Images/deployment.png') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

.nine {
    background: url('../../Images/deployment2.jpeg') no-repeat center;
    background-size: cover;
    background-position: fixed;
}
