:root {
    --primary: rgb(235, 229, 176);
    --turquoise: #7bc6f5;
    --dark: #170e54;
    --yellow: #fbdb04;
}

.navbar {
align-items: center;
background: var(--turquoise);
border-bottom: 5px solid var(--dark);
display: flex;
font-size: 1.2rem;
height:100px;
justify-content: center;
position: sticky;
top: 0;
width: 100%;
z-index: 999;
}

.navbar-container {
align-items: left;
display: flex;
justify-content: center;
height: 80px;
max-width: 1800px;
text-align: left;
}

.navbar-logo {
align-items: left;
color: var(--dark);
cursor: pointer;
display: flex;
font-family: 'Koho';
font-size: 4rem;
justify-self: start;
margin-left: 0px;
position: relative;
text-decoration: none;
top: 0.1em;
}

.fa-typo3 {
font-size: 1.8rem;
margin-left: 0.5rem;
}

.nav-menu {
display: grid;
grid-gap: 10px;
grid-template-columns: repeat(7, auto);
justify-content: end;
margin-left: 16em;
list-style: none;
text-align: center;
width: 60vw;
}

.nav-item {
height: 80px;
}

.nav-item-home {
height: 80px;
position: relative;
}

.nav-item-about {
height: 80px;
position: relative;
}

.nav-item-resume {
height: 80px;
position: relative;
}

.nav-item-projects {
height: 80px;
position: relative;
}

.nav-item-blogs {
height: 80px;
position: relative;
}

.nav-item-contact {
height: 80px;
position: relative;
}

.nav-links {
align-items: center;
color: var(--dark);
display: flex;
font-family: 'KoHo';
font-size: 30px;
height: 100%;
padding: 0.5rem 1rem;
text-decoration: none;
}

.nav-item-home:before {
content: '';
position: absolute;
width: 100%;
height: 5px;
bottom: 0.5em;
left: 0;
background-color: #fff;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.nav-item-blogs:before {
content: '';
position: absolute;
width: 100%;
height: 5px;
bottom: 0.5em;
left: 0;
background-color: #fff;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.nav-item-projects:before {
content: '';
position: absolute;
width: 100%;
height: 5px;
bottom: 0.5em;
left: 0;
background-color: #fff;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.nav-item-resume:before {
content: '';
position: absolute;
width: 100%;
height: 5px;
bottom: 0.5em;
left: 0;
background-color: #fff;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.nav-item-contact:before {
content: '';
position: absolute;
width: 100%;
height: 5px;
bottom: 0.5em;
left: 0;
background-color: #fff;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.nav-item-about:before {
content: '';
position: absolute;
width: 100%;
height: 5px;
bottom: 0.5em;
left: 0;
background-color: #fff;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.nav-item-home:hover::before {
visibility: visible;
transform: scaleX(1);
color: white;
transition: all 0.3s ease-out;
}

.nav-item-about:hover::before {
visibility: visible;
transform: scaleX(1);
color: white;
transition: all 0.3s ease-out;
}

.nav-item-resume:hover::before {
visibility: visible;
transform: scaleX(1);
color: white;
transition: all 0.3s ease-out;
}

.nav-item-projects:hover::before {
visibility: visible;
transform: scaleX(1);
color: white;
transition: all 0.3s ease-out;
}

.nav-item-blogs:hover::before {
visibility: visible;
transform: scaleX(1);
color: white;
transition: all 0.3s ease-out;
}

.nav-item-contact:hover::before {
visibility: visible;
transform: scaleX(1);
color: white;
transition: all 0.3s ease-out;
}
.nav-links:hover {
color: white;
transition: all 0.3s ease-out;
}

.fa-bars {
color: #fff;
}

.nav-links-mobile {
display: none;
}

.menu-icon {
display: none;
}

@media screen and (max-width: 960px) {
.NavbarItems {
    position: relative;
}

.nav-item-home:hover::before {
    visibility: hidden;
}

.nav-item-about:hover::before {
    visibility: hidden;
}

.nav-item-resume:hover::before {
    visibility: hidden;
}

.nav-item-projects:hover::before {
    visibility: hidden;
}

.nav-item-blogs:hover::before {
    visibility: hidden;
}

.nav-item-contact:hover::before {
    visibility: hidden;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -300%;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: all 0.5s ease;
    width: 100%;
}

.nav-menu.active {
    background: var(--dark);
    left: -1em;
    margin-left: 1em;
    margin-top: 4em;
    opacity: 1;
    padding: 0em;
    padding-right: 0em;
    transition: all 0.5s ease;
    z-index: 1;
}

.nav-menu.active li {
    height: 60px;
}

.nav-links {
    color: white;
    display: table;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    padding-top: 1em;
    text-align: center;
    width: 92%;
}

.nav-links:hover {
    background-color: #fff;
    color: var(--turquoise);
    border-radius: 0;
}

.navbar-logo {
    position: absolute;
    bottom: 1em;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
}

.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-times {
    color: #fff;
    font-size: 2rem;
}
} ;